html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container2{
  max-width: 85% !important;
  width: 85% !important;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-type: none;
}

.dashboard-menu > ul {
  padding: 13px 0px;
  background-color: #f1f1f1;;
}

.dashboard-menu .head-active {
  background-color: rgb(193 192 192);
}

.dashboard-menu .item-active {
  color: #0090ff;
}

.dashboard-menu ul ul {
  padding-left: 17px;
  
}

.dashboard-menu li {
  padding: 10px 30px;
}

.dashboard-menu .head {
  font-weight: bold;
}

.dashboard-menu .head + li {
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #ccc4c4;
  margin-bottom: 14px;
}

.dashboard-menu .head + li:last-child {
  border-bottom: none;
}

.dashboard-body h3 {
  font-size: 24px;
  font-weight: 650;
  padding-bottom: 16px;
  border-bottom: 2px solid rgb(193 192 192);
  margin: 0px;
}

.dashboard-body .post {
  padding: 22px 0px;
  border-bottom: 1px solid #DDD;
}

.dashboard-body .post h4{
  font-size: 22px;
  font-weight: 500;
}

.dashboard-body .post p {
  font-weight: 400;
  color: #757575;
}

.dashboard-body .post .interactive-num {
  color: #403a3a;
  margin-top: 8%;
}

.profile-menu > ul {
  padding: 13px 0px;
  background-color: #f8f8f8;
}

.profile-menu li {
  padding: 10px 30px;
}

.profile-menu .active {
  background-color: rgb(193 192 192);
}

.profile-info {
  margin-bottom: 40px;
  padding-top: 30px;
  background-color: #f8f8f8;
}

.profile-info .activity {
  color:#8a8a8a;
  padding: 20px 0 40px 0;
  text-align: center;
}

.profile-info .activity span {
  padding: 0 10px;
}

.followerCard{
  display: flex;
  padding: 16px;
  margin: 0px 0px 8px;
}
.followerCard .avatar img{
  border-radius: 10px;
}
.followerCard .description{
  margin: auto;
  margin-left: 10px !important;
}
.followerCard .description h5{
  margin-bottom: 0px !important;
}
.followerCard .description p{
  color: #8a8a8a;
  margin-bottom: 0px !important;
}
.followerCard button{
  background: linear-gradient(90deg,#234b86,#017389);
 
  height: 40px;
  margin: auto;
}

.photo_section .avatarImage{
  margin: auto !important;
}
.section{
  padding: 20px;
  border-bottom: 1px solid #DDD;
}
.save{
  margin: 20px 45%;
  padding: 10px 30px !important;
  background-color: #234b86 !important;
  color: white !important;
}
.section h4{
  font-weight: 400;
  margin-bottom: 10px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Chọn ảnh đại diện';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.interactive-num img{
 border-radius: 100%;
}
.interactive-num p{
  margin: auto 10px ;
}
.interactive-num{
  display: flex;
}